<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="alarmConfiguration" type="Baosight.iSuperframe.AlarmService.Configurations.Setting, Baosight.iSuperframe.AlarmService, Version=1.0.0.1, Culture=neutral, PublicKeyToken=null" />
    </configSections>
</configuration>