<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="mutilinkConfiguration" type="Baosight.iMultilink.Plugin.Configurations.Setting, Baosight.iMultilink.Plugin, Version=1.0.5634.30884, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <mutilinkConfiguration>
        <Servers>
            <clear />
        </Servers>
    </mutilinkConfiguration>
</configuration>