<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="immediateBindingConfiguration" type="Baosight.iSuperframe.ImmediateBinding.Configurations.Setting, Baosight.iSuperframe.ImmediateBinding, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <immediateBindingConfiguration ICEGRID_CONF="C:\iPlature\conf\icegrid.conf"
      Enable="true" />
</configuration>