<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="authorizationClientConfiguration" type="Baosight.iSuperframe.Authorization.Configurations.Setting, Baosight.iSuperframe.Authorization, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <authorizationClientConfiguration savePassword="true" autoLogin="true"
        userName="admin" password="azw7zyaTwl6DpTAYhu81tg==" />
</configuration>