<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="tagConfiguration" type="Baosight.iSuperframe.TagService.Configurations.Setting, Baosight.iSuperframe.TagService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <tagConfiguration>
    <services>
      <clear />
      <add ConfFile="D:\iPlature\conf\icegrid.conf" DbName="UACSDB0"
        AliasName="" name="iplature" />
    </services>
    <favorites>
      <clear />
    </favorites>
  </tagConfiguration>
</configuration>