<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="floatingTitleConfiguration" type="Baosight.iSuperframe.FloatingTitle.Configurations.Setting, Baosight.iSuperframe.FloatingTitle, Version=1.0.5634.30872, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <floatingTitleConfiguration font="Times New Roman, 28pt" ForeColor=""
        BackColor="" />
</configuration>