<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="dbConfiguration" type="Baosight.iSuperframe.PowerTranser.Configurations.Setting, Baosight.iSuperframe.PowerTranser, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <dbConfiguration Dbs="UACSDB0" />
</configuration>